@font-face{
  font-family: 'NovaSquareSlimBoldOblique';
  font-weight: normal;
  font-style: normal;
  }
h1{
  font-family: 'NovaSquareSlimBoldOblique';
  font-size:400%
}

.row{
 position:relative;
 margin-left:10%;
 margin-right:10%;
}
.clear {
clear:both;
}
.white{
 border: 1px solid black;
 width: 10%;
 height: 60px;
 background-color:white;
 float:left;
}
 
.black{
 border: 1px solid black;
 width: 10%;
 height: 60px;
 background-color:#787878;
 float:left;
}
#footer {
 border:solid 1px;
 padding: 10px;
 margin:10px;
}
#container {
 margin-top:20%;
 margin-left:10%;
 margin-right:10%;
 margin-bottom:5%;
}
#title {
 position:fixed;
 top:0px;
 left:0px; 
 padding:10px;
 margin-top: 20px;
 margin-bottom: 20px;
 width:100%;
 background-color:pink;
 text-align:center; 
 z-index:10;
}
body {
 background-image:url("https://cdn1.vectorstock.com/i/1000x1000/47/15/rainbow-colorful-kaleidoscope-background-vector-3414715.jpg");
 background-repeat: no-repeat;
 background-size: 1200px 1200px;
}





