@font-face {
  font-family: 'FantasqueSansMonoRegular';
  src: url("http://fontlibrary.org/face/fantasque-sans-mono");}
h1 {
  font-family: 'FantasqueSansMonoRegular';
}
* {
  font-family: Arial, Verdana, sans-serif;
  color: #665544;
  text-align: center;}
body {
  width: 90%;
  margin: 0 auto;
  background-image: url("https://cdn1.vectorstock.com/i/thumb-large/51/85/stylish-minimalistic-triangle-shape-lines-grid-vector-13755185.jpg")}
#content {
  overflow: auto;}
nav, section, footer {
  margin: 1%;}
article {
  width: 31.3%;
  height: 10em;
  float: left;
  margin: 1%;
  margin-bottom: 1em;}
article.column3 {
  margin-right: 0%;}
li {
  display: inline;
  padding: 0.5em;}
nav {
  background-color: lightblue;
  padding: 0.5em 0;}
footer {
  background-color: lightpink;
  padding: 0.5em 0;}  
article.column1 {
  background-color: lightgreen;}
article.column2 {
  background-color: lightyellow;}
article.column3 {
  background-color: lightseagreen;}
img {
  width: 75%;
  float: left;
}
section{
  height: 20em;
  margin-bottom: 1em;
  background-color: lightgrey;
}


