body {
 margin:5em;
 padding:5em;
}
* {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  font-stretch: expanded;color: black;
  text-align: center;
}
a {
  text-decoration:none;
  background-color:linen;
}
article a {
  background-color:burlywood;
  
}
a:hover {
  color: black;
  font-weight: bold;
  text-decoration: underline;
  font-size: larger;
}
@font-face {
    font-family: 'FantasqueSansMonoRegular';
}
h1 {
  font-family: 'FantasqueSansMonoRegular';
  color: #665544;
  font-weight: bold;
  font-style: normal;
  letter-spacing: 10px;
  text-transform: uppercase;
}
body {
  width: 90%;
  margin: 0 auto;
  background-image: url("https://cdn1.vectorstock.com/i/thumb-large/51/85/stylish-minimalistic-triangle-shape-lines-grid-vector-13755185.jpg")}
#content {
  overflow: auto;}
nav, section, footer {
  margin: 1%;}
article {
  width: 31.3%;
  height: 16em;
  float: left;
  margin: 1%;
  margin-bottom: 1em;}
li {
  display: inline;
  padding: 0.5em;
  border-right: .1em solid grey;
  padding: 1em;
}
nav {
  opacity: 0.7;
  padding: 0.5em 0;}
footer {
  background-color: burlywood;
  text-align: center;
  opacity: 0.5;
  padding: 0.5em 0;}  
article.column1, article.column2, article.column3 {
  background-color: lightgrey;
  padding:%;
  font-weight: normal;
  opacity: 0.5;}
img {
  float: left;
  margin: 1em;
}
section {
  
  height: 20em;
  margin: 1%;
  padding: 4%;
  margin-bottom: 1em;
  background-color: burlywood;
  opacity: 0.7; 
}
p {
  text-align: left;
  margin: 1.5em; 
  word-wrap: break-word;
  
}
p.artifacts {
  letter-spacing: 2px;
  text-transform: uppercase;
}
p.description {
  font-style: italic;
}
input {
  text-align: left;
  width: 100%;
}
legend {
  text-align: left;
  }
fieldset {
  border: 1px groove grey;
}
#welcome {
  text-align: center;
}
#author {
  text-align: right;
}
h4 {
  font-weight:bold;
}






